<?xml version="1.0"?>
<model>
  <name>Tilt-Hex</name>
  <version>1.0</version>
  <sdf version='1.7'>hexa_scorpion.sdf</sdf>

  <author>
   <name>Xiaofeng Guo</name>
   <email>xguo2@cmu.edu</email>
  </author>

  <description>
    This is a model of omnidirectional hexarotor with tilted rotors.
  </description>
</model>

